{% extends "layout.twig" %}

{% block content %}
         <div id="resume-header" class="row">
            <div class="col-3">
               <img id="profile-picture" src="https://lh3.googleusercontent.com/JRDvIOuztuy_3W1vdyz83vzfELNNiQkix_vjrCR34rfQdHnKJNho1TTQz6ddYLaVUuNiIlyl6HPwouXccIZ1ZVfkPgbCZrhDSswbiJYVabCbL35oTQGO25OXR0khuaQ3BpA5Prb30oLTNqjf1bhDBoITW4IhVCkmPi9ZVJ9IOPuVPo_i7-ncibTj-YNZ_gfeNmCP_vXF9iTzTAjzTa9mLjMSiaZKb0pU1GI8-7-e6r4lc4TsLdTqE13xaHUJt94xiT8Rs-l7O0c_1hNVl98vOMaJTtt7pIW8VMmUiz7NDr3Nu6HeTejoNbofD5DQUJBUWwtIniYCwfOP_SeeAU5urS9Q9NzERsAnVuw-agnL-0ws6-cCu9-oTKU4zxEtahQCUr2Oe0mrDkMg7imZDeSF8-2ad_whIug-_gRofelhwtn304g6XZHlQ-rL838CUGZg7ukHu8imC3x6eupwLu370KHG2Mhw0SFSQfksQNkBjLv1qudYeH4Qk691MYmrdON8rqSnGMGsGosyS_rM2fU0q8uevEBw1cTkF2b-qr0d0hjW0hjGqFwx05d6soTy4G_Hp3DDyDCFovOm8aXdMHnQ2OD4Y36T9dJ06vEHlcy-zM1bvACmCVQ5lGosuUOX9eZ6TEf44d8hLB_jXrqsGIqZR1pnHPs3ZmU=w703-h937-no" alt="Juan Felipe">
            </div>
            <div class="col">
               <h1>{{completeName}}></h1>
               <h2>PHP Developer</h2>
               <ul>
                  <li>Correo: vargasjuan367@gmail.com</li>
                  <li>Celular: 3005511182</li>
                  <li>LinkedIn: https://linkedin.com</li>
                  <li>Twitter: @philop</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <h2 class="border-bottom-gray" >Descripción</h2>
               <p>
                  Apasionado por el Desarrollo web con experiencia de 3 años en el area con conocimientos basicos para dar soporte y creación de aplicaciones web a su alcance y de acuerdo a sus necesidades
               </p>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <div>
                  <h3 class="border-bottom-gray" >Experiencia Laboral</h3>
                  <ul>
                     {% for job in jobs %}
                        <li class="work-position">
                           <h5>{{ job.titulo }}</h5>
                           <p>{{ job.descripcion }}</p>
                           <p><strong><u>Tiempo de experiencia :</u></strong> {{ job.meses }}</p>
                           <img src="public/uploads/{{ job.logo }}" alt="logo">
                        </li>
                     {% endfor %}
                  </ul>
               </div>
               <div>
                  <h3 class="border-bottom-gray">Proyectos</h3>
                  <ul>
                     {% for project in projects %}
                        <li class="work-position">
                           <h5>{{ project.titulo }}</h5>
                           <p>{{ project.descripcion }}</p>
                        </li>
                     {% endfor %}
                  </ul>
                  <div class="project">
                     <h5>Soef</h5>
                     <div class="row">
                        <div class="col-3">
                           <img class="projectImg" src="https://ui-avatars.com/api/?name=John+Doe&size=255" alt="">
                        </div>
                        <div class="col">
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius earum corporis at accusamus quisquam hic quos vel? Tenetur, ullam veniam consequatur esse quod cum, quam cupiditate assumenda natus maiores aperiam.</p>
                           <strong>Technologies used:</strong>
                           <span class="badge badge-secondary">PHP</span>
                           <span class="badge badge-secondary">HTML</span>
                           <span class="badge badge-secondary">CSS</span>
                        </div>
                     </div>
                  </div>
                  <div class="project">
                     <h5>Sofia Plus</h5>
                     <div class="row">
                        <div class="col-3">
                           <img class="projectImg" src="https://ui-avatars.com/api/?name=John+Doe&size=255" alt="">
                        </div>
                        <div class="col">
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius earum corporis at accusamus quisquam hic quos vel? Tenetur, ullam veniam consequatur esse quod cum, quam cupiditate assumenda natus maiores aperiam.</p>
                           <strong>Technologies used:</strong>
                           <span class="badge badge-secondary">PHP</span>
                           <span class="badge badge-secondary">HTML</span>
                           <span class="badge badge-secondary">CSS</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <h3 class="border-bottom-gray" >Skills & Tools</h3>
               <h4>Backend</h4>
               <ul>
                  <li>PHP</li>
                  <li>Angular</li>
               </ul>
               <h4>Frontend</h4>
               <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Javascript</li>
                  <li>Jquery</li>
               </ul>
               <h4>Frameworks</h4>
               <ul>
                  <li>Laravel</li>
                  <li>Yii 2</li>
                  <li>Bootstrap</li>
               </ul>
               <h4>DataBase</h4>
               <ul>
                  <li>Postgresql</li>
                  <li>Mysql</li>
                  <li>Oracle</li>
               </ul>
               <h4>CMS</h4>
               <ul>
                  <li>Wordpress</li>
                  <li>Joomla</li>
               </ul>
               <h3>Varios</h3>
               <ul>
                  <li>Moodle</li>
               </ul>
               <h3 class="border-bottom-gray" >Languages</h3>
               <ul>
                  <li>Spanish</li>
                  <li>English</li>
               </ul>
            </div>
         </div>
         <div class="container">
          <caption>Conceptos Basicos</caption>
               <ul class="list-group">
                  <li class="list-group-item"><a href="apuntes/conceptosBasicos/tiposDeDatos.php">Tipos de datos</a></li>
                  <li class="list-group-item"><a href="apuntes/conceptosBasicos/ejerciciosArreglos.php">Ejercicios Arreglos</a></li>
                  <li class="list-group-item"><a href="apuntes/conceptosBasicos/operadores.php">Operadores</a></li>
                  <li class="list-group-item"><a href="apuntes/conceptosBasicos/ejerciciosOperadores.php">Ejercicio Operadores</a></li>
               </ul>
          <caption>Programación Orientada a Objetos</caption>
               <ul class="list-group">
                  <li class="list-group-item"><a href="apuntes/poo/Herencia.php">Herencia y polimorfismo</a></li>
               </ul
          <caption>Administración</caption
              <ul class="list-group">
                <li class="list-group-item"><a href="add/job">Agrgar Experiencia</a></li>
                <li class="list-group-item"><a href="add/user">Agrgar Usuario</a></li>
              </ul>
         </div>
         <div id="resume-footer" class="row">
            <div class="col">
               Designed by @frodriguez
            </div>
         </div>
{% endblock %}
